.featured {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.featuredItem {
     flex: 1;
     margin: 0px 20px;
     padding: 30px;
     border-radius: 10px;
     -webkit-box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4); 
     box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4);
}

.featuredTitle {
    font-size: 20px;
}

.featuredMoneyContainer {
margin: 10px 0px;
display: flex;
align-items: center;
}
.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative {
    color: red;
}

.featuredSub {
    color: gray;
    font-size: 15px;
}