.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 90px;
    height: 37px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4); 
    box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4);
}

.userUpdate {
    flex: 2;
    margin-left: 20px;
    -webkit-box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4); 
    box-shadow: 2px 2px 17px -5px rgba(0,0,0,0.4);
}
.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername {
    font-weight: 600;
    
}
.userShowTitle {
    font-weight: 300;

}
.userShowBottomTitle {
    color: rgb(112, 110, 110);
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.userShowBottom {
    margin-top: 20px;
}
.userShowInfo {
    display: flex;
   align-items: center;
   margin: 20px 0px;
   color: #444;
}
.userShowInfoTitle {
    margin-left: 10px;
 
}

.userUpdate {
    padding: 20px;
}
.userUpdateTitle {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid grey;
}
.userUpdateInput:focus{
   outline: none;
}

.userUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon {
    cursor: pointer;
}
.userUpdateButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}